.intro {
    font-family: fantasy;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-right: 50px;
}

.menu li {
    padding: 0 5px;
}

.hero {
    background-image: url("../images/atf-image.jpg");
    font-family: fantasy;
    line-height: 70%;
    font-size: larger;
    background-repeat: no-repeat;
    background-position: center right;
    display: flex;
    min-height: 500px;
    align-items: center;
    padding-left: 50px;
}

.hero button {
    background-color: black;
    color: white;
    padding: 10px 20px;
}

.hero p {
    font-family: sans-serif;
    font-style: italic;
    font-size: small;
}

#taste {
    color: rgb(31, 128, 31);
}