.container {
    max-width: 1633px;
    margin: 0 auto;
}

.intro {
    font-family: serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.menu li {
    padding: 0 5px;
}

.hero {
    align-items: center;
    background-image: url("../images/atf-image.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    font-family: serif;
    line-height: 70%;
    font-size: larger;
    display: flex;
    min-height: 500px;
}

.hero-content {
    width: 100%;
}

.button-learn-more {
    font-family: sans-serif;
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: small;
    text-decoration: none;
}

.hero p {
    font-family: sans-serif;
    font-style: italic;
    font-size: small;
}

#taste {
    color: rgb(31, 128, 31);
}

.blocks {
    font-family: serif;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
    line-height: 70%;
    gap: 10px;
}

.block-item {
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    min-height: 355px;
    display: flex;
    align-items: center;
    padding-left: 80px;
    color: white;
}

.block-item--left {
    background-image: url("../images/merchandise1.jpg");
}

.block-item--right {
    background-image: url("../images/merchandise2.jpg");
}

#readmore {
    font-family: sans-serif;
    font-size: small;
}

.items {
    text-align: center;
    line-height: 40%;
    padding-top: 50px;
}

.what-happens-here {
    font-family: sans-serif;
    color: rgb(171, 76, 76);
    font-style: italic;
}

.coffee-house {
    font-family: serif;
    font-size: larger;
}

